
header{
    width: 400px;
    height: 100px;
    background-color: #141f40;
}

.left{
    width: 150px;
    height: 250px;
    background-color: #80dfa8;
    float: left;

}

.right{
    float: left;
}

.right1{
    width: 100px;
    height: 150px;
    background-color: #ff9e6b;
    float: right;
}

.right2{
    width: 150px;
    height: 50px;
    background-color: #dbd400;
    /* float: right; */
}

.right3{
    width: 150px;
    height: 100px;
    background-color: #0093b7;
    /* float: right; */
}

.right2-3{
    float: right;
}

.right4{
    width: 250px;
    height: 100px;
    background-color: #8c2727;
    margin-top: 150px
}

footer{
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
 }


 @media screen and (max-width: 767px) {  /* タブレット*/

    header{
        width: 300px;
        height: 100px;
        background-color: #141f40;
    }
    
    .left{
        width: 100px;
        height: 250px;
        background-color: #80dfa8;
        float: left;
    
    }
    
    .right{
        float: left;
    }
    
    .right1{
        width: 75px;
        height: 150px;
        background-color: #ff9e6b;
        float: right;
    }
    
    .right2{
        width: 125px;
        height: 50px;
        background-color: #dbd400;
        /* float: right; */
    }
    
    .right3{
        width: 125px;
        height: 100px;
        background-color: #0093b7;
        /* float: right; */
    }
    
    .right2-3{
        float: right;
    }
    
    .right4{
        width: 200px;
        height: 100px;
        background-color: #8c2727;
        margin-top: 150px
    }
    
    footer{
        width: 300px;
        height: 100px;
        background-color: #d98d30;
    }
    
    .clearfix::after {
        content: "";
        display: block;
        clear: both;
     }

}

@media screen and (max-width: 479px) {  /*スマートフォン*/
    header{
        width: 150px;
        height: 100px;
        background-color: #141f40;
    }
    
    .left{
        width: 150px;
        height: 100px;
        background-color: #80dfa8;
        /* float: left; */
    
    }
    
    /* .right{
        float: left;
    } */
    
    .right1{
        width: 150px;
        height: 100px;
        background-color: #ff9e6b;
        /* float: right; */
    }
    
    .right2{
        width: 150px;
        height: 50px;
        background-color: #dbd400;
        /* float: right; */
    }
    
    .right3{
        width: 150px;
        height: 100px;
        background-color: #0093b7;
        /* float: right; */
    }
    
    /* .right2-3{
        float: right;
    } */
    
    .right4{
        width: 150px;
        height: 100px;
        background-color: #8c2727;
        margin-top: 150px
    }
    
    footer{
        width: 150px;
        height: 100px;
        background-color: #d98d30;
    }
    
    /* .clearfix::after {
        content: "";
        display: block;
        clear: both;
     } */

     main{
        max-width: 150px;
     }
}